@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700");
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:700");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Cantarell:400,400i,700,700i|Fjalla+One");
div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.gigantic {
  font-size: 123px;
  line-height: 132px;
  letter-spacing: -2px; }

.huge,
h1 {
  font-size: 76px;
  line-height: 84px;
  letter-spacing: 0.02em;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif; }

.large,
h2 {
  font-size: 47px;
  line-height: 48px;
  font-family: 'Roboto', sans-serif;
  color: #FFF; }

.bigger,
h3 {
  font-size: 20px;
  line-height: 36px;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.big,
h4 {
  font-size: 25px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  margin: 0; }

p {
  font-family: 'Cantarell', sans-serif;
  font-size: 1.1875em;
  line-height: 1.7894737;
  margin: 0 0 23px 0;
  color: #FFF; }

a {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none; }

li {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #4a4747; }

/*------------------------------------------------------------------------------*/
/*masthead*/
.banner-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); }

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; }

.upheader-wrap {
  width: 100%;
  background-color: #4a4747;
  padding: 20px 0; }

.upheader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1100px) {
    .upheader-container {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .upheader-container .logo-container img {
    max-width: 50%; }
  .upheader-container .upheader-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .upheader-container .upheader-box i {
      color: #f5a004;
      font-size: 50px;
      padding: 0 10px; }
    .upheader-container .upheader-box h2 {
      color: #f5a004;
      margin: 0; }
    .upheader-container .upheader-box .box-right h4 {
      color: #b8b5b9;
      line-height: 25px; }
    .upheader-container .upheader-box .box-right p {
      margin: 0;
      color: #b8b5b9;
      line-height: 25px; }
    @media (max-width: 1100px) {
      .upheader-container .upheader-box {
        display: none; } }

.border-right {
  border-right: 2px solid #b8b5b9;
  padding-right: 60px; }

.call-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .call-us-container .fa-phone {
    font-size: 20px !important;
    padding: 0; }

.header-wrap {
  width: 100%;
  background-color: #ecebeb;
  padding: 10px 0; }
  @media (max-width: 1100px) {
    .header-wrap {
      display: none; } }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-container .logo-container img {
    max-width: 50%; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .nav li {
    list-style-type: none;
    padding: 0 20px;
    letter-spacing: 1.5px; }
    .nav li a {
      color: #4a4747; }

.banner-container {
  height: 80vh;
  position: relative;
  background-position: cover;
  background-attachment: fixed; }

.title-container {
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
  top: 100px; }
  .title-container h1 {
    color: #FFF; }

.subtitle-container {
  top: 170px;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .subtitle-container h3 {
    color: #FFF;
    letter-spacing: 4px;
    font-weight: 700; }

.about-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("/vp/wp-content/uploads/2017/10/whatwedo-background.png");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/vp/wp-content/uploads/2017/10/whatwedo-background.png");
  padding: 80px 0;
  background-position: bottom; }

.about-title {
  margin: 0;
  padding: 20px 0; }

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.about-wrap {
  padding: 120px 0; }

.about-header {
  padding: 60px 0; }

.about-section__header {
  color: #4a4747;
  text-align: center;
  width: 50%;
  border-bottom: 10px solid #f5a004;
  line-height: 0.1em;
  margin: 0px auto; }
  .about-section__header span {
    background: #FFF;
    padding: 0 30px; }

.about-section__content p {
  color: #4a4747;
  text-align: center; }

/* Widget Services Container */
.services-wrap {
  background-color: #ecebeb;
  padding: 120px 0; }

.services-header {
  background-color: #ecebeb;
  text-align: center; }
  .services-header h2 {
    width: 50%;
    border-bottom: 10px solid #f5a004;
    line-height: 0.1em;
    margin: 0px auto;
    color: #4a4747; }
    .services-header h2 span {
      background: #ecebeb;
      padding: 0 30px; }
  .services-header p {
    color: #4a4747;
    padding-top: 20px; }

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 0 0;
  background-color: #ecebeb; }
  @media (max-width: 768px) {
    .services-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .services-wrapper .services-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 20px;
    border: 1px solid #e0dada;
    margin: 0px 20px;
    width: 400px; }
    @media (max-width: 768px) {
      .services-wrapper .services-container {
        margin: 20px 0; } }
    .services-wrapper .services-container i {
      color: #4a4747; }

.services-box h3 {
  padding: 20px 0 0 0;
  color: #4a4747;
  text-align: center; }
.services-box .textwidget ul {
  padding: 0;
  margin: 0; }
  .services-box .textwidget ul li {
    list-style-type: none;
    text-align: center;
    line-height: 25px; }
